body{
    margin: 0;
    padding: 0;
    background-color: #d3f897;
}
.mycanvas{
    height: 510px;
    width: 350px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.toaster{
    background-color: #81a3ff;
    height: 99px;
    width: 120px;
    position: relative;
    top: 210px;
    left:100px;
    border-radius: 20px 25px 0 0;
}
.cover{
    background-color: #68cdff;
    height: 90px;
    width: 120px;
    border-radius: 20px 25px 0 0;
    position: relative;
    right: 30px;
}
.b1, .b2{
    background-color: #737373;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
}
.b1{
    top: 20px;
    left: 50px;
}
.b2{
    top: 25px;
    left: 50px;
}
.b3{
    background-color: #5abff2;
    height: 16px;
    width: 16px;
    position: relative;
    top: 30px;
    left: 46.5px;
    border-radius: 50%;
    border: 2px solid white;
}
.shine{
    position: relative;
    height: 24px;
    width: 15px;
    background-color: #e6f7ff;
    border-radius: 50%;
    position: relative;
    transform: rotate(30deg);
    bottom: 35px;
    left: 7px;
}
.slot1{
    position: relative;
    background-color: #666666;
    height: 43px;
    width: 8px;
    border-radius: 15px;
    bottom: 65px;
    left: 101px;
}
.slot2{
    position: relative;
    background-color: #333333;
    height: 41px;
    width: 5px;
    bottom: 107px;
    left: 101px;
    border-radius: 15px;
}
.handle1{
    background-color: white;
    height: 5px;
    width: 20px;
    position: relative;
    left: 0.1px;
    top: 1.7px ;
    animation: 6s move infinite;
}
@keyframes move{
    50%{
        transform: translateY(31px);
    }

}
.handle2{
    position: relative;
    background-color: #666666;
    height: 10px;
    width: 18px;
    border-radius: 5px;
    left: 7.5px;
    bottom: 6px;
    animation: 6s move infinite;
}
@keyframes move{
    50%{
        transform: translateY(31px);
    }
}
.handle3{
    position: relative;
    background-color: #333333;
    height: 9.5px;
    width: 8px;
    border-radius: 50%;
    left: 16.5px;
    bottom: 15px;
    animation: 6s move infinite;
}
.base2{
    background-color: #666666;
    width: 128px;
    height: 10px;
    border-radius: 15px;
    position: relative;
    right: 30px;
    bottom: 144px;
}
.base1{
    background-color: #333333;
    width: 30px;
    height: 10px;
    border-radius: 15px;
    position: relative;
    left: 92px;
    bottom: 154px;
}
.l1, .l2, .l3, .l4{
    height: 7px;
    width: 8px;
    background-color: #333333;
    position: relative;
}
.l1{
    bottom: 78px;
    right: 20px;
}
.l2{
    bottom: 85px;
    left: 10px;
}
.l3{
    bottom: 91px;
    left: 50px;
}.l4{
    bottom: 99px;
    left: 90px;
}
.toastl1{
    background-color: #cc8800;
    width: 59px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    bottom: 250px;
    left: 24px;
    z-index: -1;
    animation: 6s toast infinite;
}
@keyframes toast{
    50%{
        transform: translateY(40px);
    }
}
.toastl2{
    background-color: #cc8800;
    width: 52px;
    height: 45px;
    position: relative;
    top: 5px;
    left: 2.8px;
    z-index: 1px;
}
.toastu1{
    background-color: #ffd480;
    height: 8px;
    width: 51px;
    border-radius: 15px;
    position: relative;
    bottom: 41px;
    left: 3px;
}
.toastu2{
    background-color: #ffd480;
    width: 42px;
    height: 35px;
    position: relative;
    bottom: 41px;
    left: 7.3px;
}
.toastl3{
    background-color: #cc8800;
    width: 59px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    bottom: 275px;
    right: 2px;
    z-index: -1;
    animation: 6s toastt infinite;
}
@keyframes toastt{
    50%{
        transform: translateY(51px);
    }
}
.toastl2{
    background-color: #cc8800;
    width: 52px;
    height: 45px;
    position: relative;
    top: 5px;
    left: 2.8px;
}
.toastu3{
    background-color: #ffd480;
    height: 8px;
    width: 51px;
    border-radius: 15px;
    position: relative;
    top: 4px;
    left: 3px;
}
.toastu4{
    background-color: #cc8800;
    width: 50px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 3px;
}
.toastu5{
    background-color: #ffd480;
    width: 42px;
    height: 35px;
    position: relative;
    bottom: 36px;
    left: 7.3px;
}